a.story-link {
    text-decoration: none;
    color: black;
}

.story-card, .story-card-loading {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
}

.card-title {
    margin-top: auto;
    margin-bottom: auto;
    width: 15%;
}

.content-container {
    margin-top: auto;
    margin-bottom: auto;
    width: 85%;
}

.card-subtitle {
    width: 100%;
    margin-bottom: 10px;
}

.card-content {
    width: 100%;
    margin-bottom: 0px;
}

/* Loading Card */

.card-title-loading {
    margin-top: auto;
    margin-bottom: auto;
    width: 15%;
    height: 35px;
    animation: pulse 1s infinite ease-in-out;
    -webkit-animation: pulse 1s infinite ease-in-out;
}

.content-container-loading {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 8%;
    width: 85%;
}

.card-subtitle-loading {
    width: 90%;
    margin-bottom: 10px;
    height: 18px;
    animation: pulse 1s infinite ease-in-out;
    -webkit-animation: pulse 1s infinite ease-in-out;
}

.card-content-loading {
    width: 50%;
    margin-bottom: 0px;
    height: 18px;
    animation: pulse 1s infinite ease-in-out;
    -webkit-animation: pulse 1s infinite ease-in-out;
}

@keyframes pulse {
    0% {
        background-color: rgba(165, 165, 165, 0.1);
    }
    25% {
        background-color: rgba(165, 165, 165, 0.2);
    }
    50% {
        background-color: rgba(165, 165, 165, 0.4);
    }
    75% {
        background-color: rgba(165, 165, 165, 0.2);
    }
    100% {
        background-color: rgba(165, 165, 165, 0.1);
    }
}

@media screen and (max-width: 500px) {
    .story-card, .story-card-loading {
        margin-top: 20px;
    }

    .card-title {
        width: 25%;
    }
    
    .content-container {
        width: 75%;
    }
    
    .card-subtitle {
        width: 100%;
    }
    
    .card-content {
        width: 100%;
    }

    /* Loading Cards */

    .card-title-loading {
        width: 15%;
    }

    .content-container-loading {
        margin-left: 5%;
        width: 70%;
    }
    
    .card-subtitle-loading {
        width: 100%;
    }
    
    .card-content-loading {
        width: 60%;
    }
}