.page-nav-container {
    width: 150px;
    margin: auto auto;
}

.stories-container {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

.spinner {
    width: 110px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

@media screen and (max-width: 500px) {
    .stories-container {
        padding: 20px;
    }
}

@media screen and (min-width: 800px) {
    .stories-container {
        width: 800px;
    }
}